.desktop-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-60);
  box-sizing: border-box;
  gap: 47px;
  line-height: normal;
  letter-spacing: normal;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 4625px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-darkseagreen-100);
  font-family: var(--font-inter);
}
.search,
.search-wrapper {
  flex-shrink: 0;
  display: flex;
}
.search-wrapper {
  margin-left: -4745px;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px var(--padding-0) var(--padding-0);
}
.search {
  width: 121px;
  height: var(--height-28);
  box-shadow: var(--shadow-drop);
  border-radius: var(--Radius-Full);
  background-color: var(--color-white);
  border: var(--Stroke-Border) solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: var(--Space-300) var(--Space-400);
  gap: var(--Space-200);
  min-width: 120px;
}
.search-icon,
.value {
  position: relative;
  flex-shrink: 0;
}
.value {
  width: calc(100% - 48px);
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  flex: 1;
  line-height: 100%;
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
}
.search-icon {
  height: var(--height-16);
  width: var(--width-16);
}
.rectangle-parent {
  width: 1440px;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3px 17px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-20);
  flex-shrink: 0;
  max-width: 100%;
}
.frame-child,
.frame-item {
  position: relative;
  flex-shrink: 0;
}
.frame-child {
  height: 90px;
  width: 1440px;
  box-shadow: var(--shadow-drop-1);
  border-radius: var(--br-15);
  background-color: var(--color-whitesmoke);
  display: none;
  max-width: 100%;
}
.frame-item {
  height: 87px;
  width: 128px;
  object-fit: cover;
  z-index: 1;
}
.frame-wrapper {
  width: 947px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.navigation-links-parent {
  align-self: stretch;
  gap: 45px;
  max-width: 100%;
}
.home-wrapper,
.navigation-links,
.navigation-links-parent {
  display: flex;
  align-items: flex-start;
}
.navigation-links {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
  max-width: 100%;
}
.home-wrapper {
  flex-direction: column;
  padding: var(--padding-1) 13px var(--padding-0) var(--padding-0);
}
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  text-shadow: var(--text-shadow-1);
  min-width: 76px;
  z-index: 1;
}
.about-us-wrapper {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.about-us,
.register {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: var(--text-shadow-1);
  z-index: 1;
}
.about-us {
  align-self: stretch;
}
.register {
  width: 129px;
  display: inline-block;
  flex-shrink: 0;
}
.contact-parent {
  width: 243px;
  display: flex;
  align-items: flex-start;
}
.contact {
  height: 42px;
  flex: 1;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  text-shadow: var(--text-shadow-1);
  z-index: 1;
}
.contact-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2) var(--padding-0) var(--padding-0);
  margin-left: -6px;
  position: relative;
}
.search2 {
  cursor: pointer;
  border: var(--Stroke-Border) solid var(--color-gainsboro);
  padding: var(--Space-300) var(--Space-400);
  background-color: var(--color-white);
  width: 121px;
  height: var(--height-28);
  box-shadow: var(--shadow-drop);
  border-radius: var(--Radius-Full);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--Space-200);
  min-width: 120px;
}
.desktop-5-inner {
  width: 1368px;
  justify-content: flex-end;
  padding: var(--padding-0) 57px;
  box-sizing: border-box;
}
.desktop-5-inner,
.frame-group,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 17px 63px 19px 64px;
  background-color: var(--color-darkseagreen-100);
  border-radius: var(--br-20);
  box-sizing: border-box;
}
.rectangle-container:hover,
.rectangle-group:hover {
  background-color: var(--color-darkseagreen-200);
}
.contact-us,
.frame-inner {
  position: relative;
  flex-shrink: 0;
}
.frame-inner {
  height: 79px;
  width: 334px;
  border-radius: var(--br-20);
  background-color: var(--color-darkseagreen-100);
  display: none;
  max-width: 100%;
}
.contact-us {
  font-size: 36px;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 24px 5px var(--padding-16) 29px;
  background-color: var(--color-darkseagreen-100);
  width: 423px;
  border-radius: var(--br-20);
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-div,
.were-here-to-container {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.rectangle-div {
  height: 79px;
  width: 423px;
  border-radius: var(--br-20);
  background-color: var(--color-darkseagreen-100);
  display: none;
}
.were-here-to-container {
  flex: 1;
  font-size: var(--fs-32);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.b {
  font-family: var(--font-inria-serif);
}
.were-here-to {
  font-family: var(--font-inter);
}
.contact-block-parent {
  align-self: stretch;
  height: 1159px;
  position: relative;
  max-width: 100%;
}
.block-with-illustration,
.contact-block {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.contact-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 885px;
  align-items: center;
  padding: var(--padding-0) var(--padding-100);
}
.block-with-illustration {
  height: 726px;
  flex: 1;
  border-radius: 45px;
  background-color: var(--Grey);
  align-items: flex-start;
  padding: var(--padding-60) 11px 80px var(--padding-100);
  gap: 10px;
}
.form {
  height: 578px;
  width: 577px;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-18);
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
.form,
.get-a-quote,
.radio-buttons {
  display: flex;
  align-items: flex-start;
}
.radio-buttons {
  flex-shrink: 0;
}
.get-a-quote {
  height: var(--height-28);
  width: 145px;
  gap: 14px;
}
.radiobutton {
  cursor: pointer;
  margin: 0;
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 29px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.get-a-quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2) var(--padding-0) var(--padding-0);
}
.get-a-quote2 {
  width: 103px;
  height: 23px;
  position: relative;
  display: inline-block;
}
.field,
.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fields {
  gap: 25px;
  flex-shrink: 0;
  font-size: var(--fs-16);
}
.field {
  gap: var(--gap-5);
}
.name {
  position: relative;
  line-height: var(--lh-28);
}
.input {
  width: 468px;
  border-radius: var(--br-14);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-16) var(--padding-30);
}
.name2 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-space-grotesk);
  font-size: var(--fs-18);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 29px;
  padding: 0;
}
.input2 {
  width: 469px;
  border-radius: var(--br-14);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-16) var(--padding-30);
}
.email2 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-space-grotesk);
  font-size: var(--fs-18);
  background-color: transparent;
  height: 23px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 27px;
  padding: 0;
}
.field3,
.input3 {
  width: 471px;
  display: flex;
  align-items: flex-start;
}
.field3 {
  height: 223px;
  flex-direction: column;
  gap: var(--gap-5);
}
.input3 {
  height: 190px;
  border-radius: var(--br-14);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 18px var(--padding-30);
  font-size: var(--fs-18);
  color: var(--color-gray-100);
}
.message2 {
  position: relative;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-darkseagreen-100);
  padding: var(--padding-20) 35px;
  background-color: var(--color-darkseagreen-100);
  width: 222px;
  height: 55px;
  box-shadow: 0 4px 4px rgba(114, 107, 107, 0.2);
  border-radius: var(--br-20);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.label {
  position: relative;
  font-size: var(--fs-24);
  line-height: var(--lh-28);
  font-family: var(--font-space-grotesk);
  color: var(--color-black);
  text-align: center;
  flex-shrink: 0;
}
.illustration-icon {
  width: 542px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.frame-container,
.social-row-one-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  position: absolute;
  top: 879px;
  left: 195px;
  width: 1145px;
  height: 280px;
  flex-direction: column;
  text-align: left;
  font-size: var(--fs-32);
  color: var(--color-gray-200);
  font-family: var(--font-inria-serif);
}
.social-row-one-parent {
  align-self: stretch;
  position: relative;
  isolation: isolate;
}
.social-row-one {
  height: 65px;
  width: 328px;
  position: absolute;
  margin: 0 !important;
  bottom: 60px;
  left: 0;
  flex-shrink: 0;
}
.tiktok-icon,
.whatsapp-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 257px;
  max-height: 100%;
  width: var(--width-71);
  object-fit: cover;
}
.whatsapp-icon {
  left: 0;
}
.social-row-two {
  height: 74px;
  width: 326px;
  position: absolute;
  margin: 0 !important;
  bottom: -49px;
  left: 2px;
  flex-shrink: 0;
}
.instagram-icon,
.twitter-icon {
  position: absolute;
  top: 9px;
  left: 255px;
  width: var(--width-71);
  height: 65px;
  object-fit: cover;
}
.instagram-icon {
  top: 0;
  left: 0;
}
.frame-div {
  height: 231px;
  flex: 1;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 555px;
  border-radius: 50px;
  background-color: var(--color-darkseagreen-100);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 590px;
  height: 231px;
  display: flex;
  align-items: flex-start;
  padding: 25px 90px;
  min-height: 231px;
  max-width: 100%;
  z-index: 1;
}
.frame-child2,
.need-help-container {
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-child2 {
  height: 231px;
  width: 590px;
  border-radius: 50px;
  background-color: var(--color-darkseagreen-100);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  display: none;
}
.need-help-container {
  width: 391px;
  display: inline-block;
  z-index: 2;
}
.span {
  color: var(--color-darkolivegreen);
}
.social-row-three {
  position: absolute;
  top: 6px;
  left: 0;
  width: 328px;
  height: 65px;
}
.email-icon,
.telegram-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: var(--width-71);
  object-fit: cover;
  z-index: 1;
}
.telegram-icon {
  left: 257px;
}
@media screen and (max-width: 1350px) {
  .desktop-5-inner {
    padding-left: var(--padding-28);
    padding-right: var(--padding-28);
    box-sizing: border-box;
  }
  .contact-block-parent {
    height: auto;
    min-height: 1159px;
  }
  .contact-block {
    height: auto;
  }
  .block-with-illustration {
    height: auto;
    flex-wrap: wrap;
    padding-left: 50px;
    box-sizing: border-box;
  }
  .form,
  .illustration-icon {
    flex: 1;
  }
}
@media screen and (max-width: 1125px) {
  .frame-group {
    flex-wrap: wrap;
  }
  .form {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .desktop-5 {
    gap: 23px;
  }
  .frame-parent {
    gap: 2312px;
  }
  .navigation-links-parent {
    gap: 22px;
  }
  .contact-block {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .block-with-illustration {
    padding-left: 25px;
    box-sizing: border-box;
  }
  .form {
    gap: var(--gap-20);
  }
  .need-help-container {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent {
    gap: 1156px;
  }
  .contact-block,
  .rectangle-group {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .need-help-container {
    font-size: 19px;
  }
}